<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://airflight.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>airflight.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>airflight</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$airflight</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TicketEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wt5f824sul.database.windows.net,1433;Initial Catalog=airflight_db;User ID=rootuser@wt5f824sul;Password=Rootpassword123" Name="Data Source=tcp:wt5f824sul.database.windows.net,1433;Initial Catalog=airflight_db;User Id=rootuser@wt5f824sul;Password=Rootpassword123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.TicketEntities, Tickets" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TicketsEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:wt5f824sul.database.windows.net,1433;Initial Catalog=airflight_db;User ID=rootuser@wt5f824sul;Password=Rootpassword123" Name="Data Source=tcp:wt5f824sul.database.windows.net,1433;Initial Catalog=airflight_db;User Id=rootuser@wt5f824sul;Password=Rootpassword123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Tickets.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TicketsModel.csdl|res://*/TicketsModel.ssdl|res://*/TicketsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Tickets.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Tickets.csdl|res://*/Tickets.ssdl|res://*/Tickets.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:wt5f824sul.database.windows.net,1433;Initial Catalog=airflight_db;User Id=rootuser@wt5f824sul;Password=Rootpassword123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TicketsModel.csdl|res://*/TicketsModel.ssdl|res://*/TicketsModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:wt5f824sul.database.windows.net,1433;initial catalog=airflight_db;user id=rootuser@wt5f824sul;password=Rootpassword123;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>